* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #eceff3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 430px;
    height: 700px;
    background: white;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 15px 35px rgba(0,0,0,.15);
}

.chat-header{
    background:#0f172a;
    color:white;
    padding:18px;
    text-align:center;
}

.header-title{
    font-size:22px;
    font-weight:bold;
}

.header-status{
    margin-top:6px;
    font-size:13px;
    color:#d1d5db;
}

.status-dot{
    display:inline-block;
    width:10px;
    height:10px;
    background:#22c55e;
    border-radius:50%;
    margin-right:6px;
}

.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: #f8fafc;
}

.message {
    display: flex;
    align-items: flex-end;
    margin: 18px 0;
    width: 100%;
}

.message.user {
    justify-content: flex-end;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 8px;
}

.bot-avatar {
    background: #2563eb;
    color: white;
}

.user-avatar {
    background: #22c55e;
    color: white;
}

.bubble {

    min-width: 110px;

    max-width: 75%;

    padding: 14px 18px;

    border-radius: 18px;

    line-height: 1.5;

    font-size: 15px;

    word-break: break-word;

    white-space: pre-wrap;
}

.bot .bubble {

    background: white;

    border: 1px solid #e5e7eb;

    box-shadow: 0 2px 8px rgba(0,0,0,.05);

}

.user .bubble {

    background: linear-gradient(135deg,#2563eb,#3b82f6);

    color: white;

    box-shadow: 0 4px 10px rgba(37,99,235,.25);

}

.time {
    font-size: 11px;
    color: gray;
    margin-top: 4px;
}

.input-area {
    display: flex;
    gap: 10px;
    padding: 15px;
    border-top: 1px solid #ddd;
    background: white;
}

#user-input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

#send-btn {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

#send-btn:hover {
    background: #1d4ed8;
}

.chat-box::-webkit-scrollbar{
    width:8px;
}

.chat-box::-webkit-scrollbar-thumb{
    background:#cbd5e1;
    border-radius:20px;
}

.chat-box::-webkit-scrollbar-track{
    background:transparent;
}

#clear-btn{

    background:#ef4444;

    color:white;

    border:none;

    padding:12px 18px;

    border-radius:10px;

    cursor:pointer;

}

#clear-btn:hover{

    background:#dc2626;

}